table, th, td {
    border: 1px solid black;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.banner-h{

    height: 10vh !important;
    width: 100% !important;

}

.menu-h{

    height: 5vh !important;

}