table, th, td {
    border: 1px solid black;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.banner-h{

    height: 6vh !important;
    

}

.menu-h{

    height: 5.2vh !important;
    

}


.search{
    height: 100% !important;
}

.search-mg{
    
    margin-top: 0.1vh !important;
    margin-bottom: 0.3vh !important;

    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;

    color: #a3a0a0;
    font-size: small;
    outline: none !important;


}


.lupa-mg{

    margin-top: 0.1vh !important;
    margin-bottom: 0.4vh !important;

    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;

}

 .conta, .conta a{

    text-decoration: none !important;
}

.conta, .conta a:visited{

    color: black !important;
}

